:root {
  --principalFont: "Poppins", sans-serif;
  --weightNormal: 400;
  --weightMedium: 500;
  --weightBold: 700;
  --white: #fff;
  --grey: #dbdada;
  --darkGrey: rgb(88, 86, 86);
  --black: rgb(15, 15, 15);
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--grey);
}

.display-none {
  display: none;
}
