.footer {
  background-color: var(--white);
  border-top: 4px solid var(--alternativeWhite);
  border-bottom: 2px solid var(--alternativeWhite);
}
.footerPrincipalContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 3px 1fr 3px 1fr 3px 1fr;
  padding: 40px;
  gap: 10px;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 900px) {
  .footerPrincipalContainer {
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .footerPrincipalContainer {
    grid-template-columns: auto;
    width: fit-content;
    margin: auto;
  }
}
.footerLogoTextContainer,
.footerLogoTextMobileContainer {
  height: 100%;
}
.footerLogoTextMobileContainer {
  display: flex;
  justify-content: center;
  display: none;
}
.footerLogoTextMobile {
  font-size: 40px;
  font-weight: var(--weightBold);
  font-family: principalFont, sans-serif;
  color: var(--black);
  text-align: center;
  margin-top: 20px;
}

.footerLogoText {
  font-size: 40px;
  font-weight: var(--weightBold);
  font-family: principalFont, sans-serif;
  color: var(--black);
}
@media (max-width: 900px) {
  .footerLogoTextMobileContainer {
    display: initial;
  }
  .footerLogoTextContainer {
    display: none;
  }
}
.navigationCol {
}
.navigationCol > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.navigationCol > ul > li {
  list-style-type: none;
}
.navigationCol > ul > li > a {
  text-decoration: none;
  font-family: var(--principalFont);
  font-weight: var(--weightNormal);
  font-size: 16px;
  color: var(--black);
}

.footerIconsContainer {
  display: flex;
  gap: 10px;
}
.securePurchaseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .securePurchaseContainer {
    align-items: initial;
  }
}
.securePurchaseText {
  font-size: 16px;
  color: var(--black);
  font-family: var(--principalFont);
  font-weight: var(--weightNormal);
  text-align: center;
}
@media (max-width: 900px) {
  .securePurchaseText {
    text-align: initial;
  }
}
.footerIconsContainer > p {
  max-width: 100px;
  font-size: 14px;
  color: var(--darkGrey);
  font-family: var(--principalFont);
  font-weight: var(--weightNormal);
}

.socialMediasContainer {
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  gap: 5px;
}
@media (max-width: 900px) {
  .socialMediasContainer {
    display: flex;
  }
}
.socialMedias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
@media (max-width: 900px) {
}
/* Extras */
@media (max-width: 900px) {
  .verticalDisplayNoneIn900 {
    display: none;
  }
}
