.principalContainer {
  height: 100vh;
  min-height: max-content;
}
.homepageContentContainer {
  height: calc(100% - 143px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.homepageContent > h3 {
  font-size: 48px;
  font-weight: var(--weightBold);
  font-family: principalFont, sans-serif;
  color: var(--white);
  max-width: 600px;
  text-align: center;
  padding: 20px;
}
.homepageContent > button {
  cursor: pointer;
  font-size: 18px;
  font-weight: var(--weightNormal);
  font-family: principalFont, sans-serif;
  color: var(--white);
  padding: 10px 30px;
  border: solid var(--white) 2px;
  background-color: transparent;
}
