.paddingBottom {
  /* padding-bottom: 60px; */
}
.principalContainer {
  min-height: 100vh;
  height: max-content;
}
.background {
  min-height: 100vh;
  width: 100%;
  height: max-content;
  position: absolute;
}
.homepageContentContainer {
  min-height: calc(100vh - 143px);
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.homepageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.homepageContent > h3 {
  font-size: 48px;
  font-weight: var(--weightBold);
  font-family: principalFont, sans-serif;
  color: var(--white);
  max-width: 600px;
  text-align: center;
  padding: 20px;
}
.homepageContent > button {
  cursor: pointer;
  font-size: 18px;
  font-weight: var(--weightNormal);
  font-family: principalFont, sans-serif;
  color: var(--white);
  padding: 10px 30px;
  border: solid var(--white) 2px;
  background-color: transparent;
}
.homepageContent > button:hover {
  background-color: var(--white);
  border: solid rgb(31, 29, 29) 2px;
  color: rgb(31, 29, 29);
  transition: 2s;
}
