.buttonTransparent {
  cursor: pointer;
  font-size: 18px;
  font-weight: var(--weightNormal);
  font-family: principalFont, sans-serif;
  color: var(--white);
  padding: 10px 30px;
  border: solid var(--white) 2px;
  background-color: transparent;
}

.buttonTransparent:hover {
  background-color: var(--white);
  border: solid rgb(31, 29, 29) 2px;
  color: rgb(31, 29, 29);
  transition: 2s;
}
.buttonBlack {
  cursor: pointer;
  font-size: 18px;
  font-weight: var(--weightNormal);
  font-family: principalFont, sans-serif;
  padding: 10px 30px;
  border: solid rgb(31, 29, 29) 2px;
  background-color: rgb(31, 29, 29);
  color: var(--white);
  width: fit-content;
  padding: 10px 20px;
}

.buttonBlack:hover {
  color: rgb(31, 29, 29);
  background-color: var(--white);
  transition: 2s;
}
